<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &apos;while true; do&apos; &gt; /home/log-user/jenkins-scripts/hostname-date.sh
printf &quot;  cat /etc/hostname | tr &apos;\\\n&apos; &apos; &apos;&gt; /tmp/hostname-date.txt;\n&quot; &gt;&gt; /home/log-user/jenkins-scripts/hostname-date.sh
echo &quot;  echo \$(date +%d-%b-%Y_%Hh:%Mm:%Ss) &gt;&gt; /tmp/hostname-date.txt;&quot; &gt;&gt; /home/log-user/jenkins-scripts/hostname-date.sh
echo &quot;sleep 60;&quot; &gt;&gt; /home/log-user/jenkins-scripts/hostname-date.sh
echo &quot;done&quot; &gt;&gt; /home/log-user/jenkins-scripts/hostname-date.sh
chmod 755 /home/log-user/jenkins-scripts/hostname-date.sh



echo &apos;[Unit]&apos; &gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;Description=Hostname-Date-Task&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;StartLimitBurst=5&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;StartLimitIntervalSec=30&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;[Service]&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;Type=notify&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;ExecStart=/home/log-user/jenkins-scripts/hostname-date.sh&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;KillMode=process&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;Restart=on-failure&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;RestartSec=30s&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;[Install]&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service
echo &apos;WantedBy=default.target&apos; &gt;&gt; /home/log-user/.config/systemd/user/hostname-date.service

sudo loginctl enable-linger log-user 2&gt;&gt; /tmp/jenkins-error || true

#sudo su log-user 2&gt;&gt; /tmp/jenkins-error || true
sudo systemctl --user start hostname-date.service 2&gt;&gt; /tmp/jenkins-error || true
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>